header {
    background-color: rgb(6, 4, 122);
    align-items: center;
    color: azure;
    font-size: medium;
    
}
body{
    background: white
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    width: max-content;
    }
tr {
    border: 1px solid black;
}
td {
    width: 250px;
    border: 1px solid black;
}
.box {
    display: flex;
    align-items: stretch;
}
.imagebox {
    width: min-content;
    height: min-content;
}
.image {
    margin: 0 auto;
    border: 5px solid red;
}