body{
    background: white
}
table {
    border: collapse;
    border: 1px solid black;
    }
tr {
    border: collapse;
    border: 1px solid black;
}
tr {
    border: collapse;
    border: 1px solid black;
}