header {
    background-color: rgb(6, 4, 122);
    height: 150px;
    color: azure;
    font-size: medium;
}
body{
    background: white
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 500px;
    }
tr {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
.box {
    display: flex;
    align-items: stretch;
}